{{>./layouts/header}}

{{#article}}
<form class="container p-5" action="/articles/update" method="post">
	<input type="hidden" name="id" value="{{id}}">
	<div class="mb-3">
		<label for="title" class="form-label">제목</label>
		<input type="text" class="form-control" id="title" name="title" value="{{title}}"></input>
	</div>
	<div class="mb-3">
		<label for="content" class="form-label">내용</label>
		<textarea class="form-control" id="content" rows="5" name="content" style="resize: none;">{{content}}</textarea>
	</div>
	<button type="submit" class="btn btn-dark">수정하기</button>
	
	<!-- 목록으로 돌아가는 링크 추가 -->
	<a href="/articles/{id}" class="btn btn-dark">돌아가기</a>
	<a href="/articles" class="btn btn-dark">목록으로</a>
</form>
{{/article}}

{{>./layouts/footer}}