
{{>./layouts/header}}

<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Content</th>
		</tr>
	</thead>
	<tbody>
		<!-- 컨트롤러에서 넘어오는 Model 객체에 저장되서 넘어오는 데이터에 "."을 찍어서 멤버에 접근 -->
		<!-- 
		<tr>
			<td>{{article.id}}</td>
			<td>{{article.title}}</td>
			<td>{{article.content}}</td>
		</tr> 
		-->
		
		<!-- 컨트롤러에서 넘어오는 Model 객체에 저장되서 넘어오는 데이터의 사용 범위를 지정한다. -->
		{{#article}} <!-- article 시작, 범위 지정시 넘어오는 데이터는 "#"을 붙여서 받는다. -->
		<tr>
			<td>{{id}}</td> <!-- 넘오온 객체의 멤버에 접근한다. -->
			<td>{{title}}</td>
			<td>{{content}}</td>
		</tr> 
		{{/article}} <!-- article 끝 -->
	</tbody>
</table>

	<!-- 목록으로 돌아가는 링크 추가 -->
	<a href="/articles" class="btn btn-dark">목록으로</a>
	<!-- 글 수정 링크 추가 -->
	<!-- <a href="articles/{{id}}/edit" class="btn btn-dark">수정하기</a> -->
	
	<!-- 사용범위 외부에서는 컨트롤러에서 넘어오는 내용에 "."을 찍어 접근한다. -->
	<a href="/articles/{{article.id}}/edit" class="btn btn-dark">수정하기</a>
	
	<!-- 글 삭제 링크 추가 -->
	<a href="/articles/{{article.id}}/delete" class="btn btn-dark">삭제하기</a>
	
	<!-- 댓글 출력 템플릿을 삽입한다. -->
	{{>./comments/_comments}}
	
{{>./layouts/footer}}
