a {
	font-size: 50pt;
	text-decoration: none;
	color: navy;
	position: relative;
	top: 20px;
}

img {
	border: 2px solid navy;
	width: 300px;
	height: 300px;
	vertical-align: middle;
	/* position: relative; */
}

